In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('K:\CDAC\credit_data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100514 entries, 0 to 100513
Data columns (total 19 columns):
Loan ID                         100000 non-null object
Customer ID                     100000 non-null object
Loan Status                     100000 non-null object
Current Loan Amount             100000 non-null float64
Term                            100000 non-null object
Credit Score                    80846 non-null float64
Annual Income                   80846 non-null float64
Years in current job            95778 non-null object
Home Ownership                  100000 non-null object
Purpose                         100000 non-null object
Monthly Debt                    100000 non-null float64
Years of Credit History         100000 non-null float64
Months since last delinquent    46859 non-null float64
Number of Open Accounts         100000 non-null float64
Number of Credit Problems       100000 non-null float64
Current Credit Balance          100000 non-null float64
Maximum Open Credit             99998 non-null float64
Bankruptcies                    99796 non-null float64
Tax Liens                       99990 non-null float64
dtypes: float64(12), object(7)
memory usage: 14.6+ MB

In [4]:
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0

In [30]:
from sklearn import preprocessing


df_categorical = df.select_dtypes(include=['object'])
print(df_categorical.info())
df_categorical.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100514 entries, 0 to 100513
Data columns (total 7 columns):
Loan ID                 100000 non-null object
Customer ID             100000 non-null object
Loan Status             100000 non-null object
Term                    100000 non-null object
Years in current job    95778 non-null object
Home Ownership          100000 non-null object
Purpose                 100000 non-null object
dtypes: object(7)
memory usage: 5.4+ MB
None

,Loan ID,Customer ID,Loan Status,Term,Years in current job,Home Ownership,Purpose
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,Short Term,8 years,Home Mortgage,Home Improvements
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,Short Term,10+ years,Home Mortgage,Debt Consolidation
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,Short Term,8 years,Own Home,Debt Consolidation
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,Long Term,3 years,Own Home,Debt Consolidation
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,Short Term,5 years,Rent,Debt Consolidation

In [37]:
df_cat_1 = df_categorical.drop('Years in current job',axis=1)
df_cat_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100514 entries, 0 to 100513
Data columns (total 6 columns):
Loan ID           100000 non-null object
Customer ID       100000 non-null object
Loan Status       100000 non-null object
Term              100000 non-null object
Home Ownership    100000 non-null object
Purpose           100000 non-null object
dtypes: object(6)
memory usage: 4.6+ MB

In [56]:
# apply Label encoder to df_categorical

# le = preprocessing.LabelEncoder()
# df_cat_2 = df_cat_1.apply(le.fit_transform)
# #df_categorical.info()
df_numbers= df.select_dtypes(include=['float64'])
# df_numbers.head()
df_numbers= df_numbers.drop('Months since last delinquent',axis=1)
df_numbers.head()

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,445412.0,709.0,1167493.0,5214.74,17.2,6.0,1.0,228190.0,416746.0,1.0,0.0
1,262328.0,NaN,NaN,33295.98,21.1,35.0,0.0,229976.0,850784.0,0.0,0.0
2,99999999.0,741.0,2231892.0,29200.53,14.9,18.0,1.0,297996.0,750090.0,0.0,0.0
3,347666.0,721.0,806949.0,8741.90,12.0,9.0,0.0,256329.0,386958.0,0.0,0.0
4,176220.0,NaN,NaN,20639.70,6.1,15.0,0.0,253460.0,427174.0,0.0,0.0

In [57]:
from sklearn.model_selection import train_test_split

In [58]:
X = df_numbers.drop('Bankruptcies',axis=1)

y = df_numbers['Bankruptcies']

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.30, 
                                                    random_state = 99)
X_train.head()

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Tax Liens
17846,217998.0,681.0,753084.0,15124.38,19.8,5.0,0.0,200032.0,357456.0,0.0
31908,264220.0,686.0,1169431.0,26409.81,17.0,11.0,0.0,836133.0,1110274.0,0.0
30150,553850.0,715.0,1377576.0,22730.08,30.4,12.0,0.0,81719.0,341594.0,0.0
20093,277706.0,750.0,1713743.0,21707.31,19.2,11.0,0.0,62111.0,609400.0,0.0
70271,99999999.0,743.0,1392377.0,4026.29,10.7,4.0,0.0,141512.0,348634.0,0.0

In [60]:
from sklearn.tree import DecisionTreeClassifier

dt_default = DecisionTreeClassifier()
dt_default.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').